body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

#banner {
    background-color: #333333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#logo {
    position: absolute;
    top: 12px;
    right: 12px;
    max-width: 100px;
    max-height: 100%;
}

#content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #74C7D3;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#business-card {
    text-align: center;
    margin-top: 20px;
}

#tags-card {
    display: flex;
    flex-wrap: wrap;
}

#tags-card p {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    word-wrap: break-word;
    background-color: #5FAFD7;
    color: #000000;
    border-radius: 10px 50px
}